<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mapsKey" value="hier_de_key" />
    <add key="twitterKey" value="hier_je_key" />
    <add key="server_ssh_cmd" value="ssh -L 1433:localhost:1433 student@145.44.234.43" />
    <add key="server_ssh_host" value="145.44.234.43" />
    <add key="server_ssh_user" value="student" />
    <add key="server_ssh_password" value="JeM0ederisDik" />
  </appSettings>
  <connectionStrings>
    <!-- local db conn string -->
    <add name="Wijkagent" connectionString="Data Source=JOCHEMS-LAPTOP\SQLEXPRESS;Initial Catalog=wijkagent;Integrated Security=True" />
    <add name="Wijkagent_web" connectionString="Persist Security Info=True;Database = Wijkagent;Data Source=127.0.0.1; Password =0ntplofde_Cav1a!; User ID = sa" />
  </connectionStrings>
</configuration>