<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mapsKey" value="hier_de_key" />
    <add key="twitterKey" value="hier_je_key" />
    <add key="server_ssh_cmd" value="ssh -L 1433:localhost:1433 sshuser@onlineaddres" />
    <add key="server_ssh_host" value="145.44.234.43" />
    <add key="server_ssh_user" value="sshuser" />
    <add key="server_ssh_password" value="sshww" />
  </appSettings>
  <connectionStrings>
    <!-- local db conn string -->
    <add name="Wijkagent_loc" connectionString="Data Source=dev_database;Initial Catalog=wijkagent;Integrated Security=True" />
    <add name="Wijkagent" connectionString="Persist Security Info=True;Database = Wijkagent;Data Source=serveraddres; Password =dbpassword; User ID = dbuser" />
  </connectionStrings>
</configuration>
